.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}
.añadirproducto{
    width: 400px;
    border-style: dashed;
    border-color: blue;
    border-radius: 5px;
    padding: 25px;
}
.alert.alert-danger{
    width: 100%;
}
.btn.btn-primary{
    margin-top: 25px;
    margin-bottom: 25px;
}
.tabla{
    width: 400px;
    border-collapse: separate;
    border-style: double;
}
